@model Test_GVLoading.Models.GV

<div class="well">
    <h3>
        <strong>@Model.GVCode</strong>
        <span class="pull-right label label-warning">@Model.CategoryName</span>
    </h3>
    @using (Html.BeginForm("Park", "Parking"))
    {
<div>
    @Html.HiddenFor(x => x.GVCode)
    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
    <input type="submit" value="대차 도착" class="pull-right btn btn-success" />
    &nbsp;
</div>
    }
    <span class="lead">@Model.LoadCnt / @Model.Capacity</span>
</div>
