@model _1231_01_MVC_Board.Models.Board

@{
    ViewBag.Title = "보기";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>보기</h2>

<div>
    <h4>글</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SEQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEQ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contents)
        </dt>

        <dd>
            @* @Html.Raw(Html.Encode(Model.Contents).Replace("\n", "<br />"))*@
            @*@Html.Raw(Model.Contents) *@@*insert나 update시 string.Replace("\r\n","<br/>)*@
            <span style="white-space: pre-wrap">@Model.Contents</span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WriteTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WriteTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReadCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReadCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("수정", "Edit", new { id = Model.SEQ}) |
    @Html.ActionLink("목록보기", "Index")
</p>
